.message-bubble
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    padding-left: 10px;
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }

.row .message-bubble{
    max-width: 500px;
}
.main {
    background: url(../img/banner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
}